# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6 
print(number)

elephant = 7 
print(elephant)

6
7

##### Assinging float

In [4]:
#float = any number with a decimal
num_float = 2.3

print(num_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [11]:
num1 = 7
num2 = 10

result_diff = num2 - num1
print(result_diff)

#Short-hand version
result_diff -= 1
print(result_diff)

3
2

##### Multiplication

In [14]:
result_prod = num1 *num2
print(result_prod)

#short hand
result_prod *= 2
print(result_prod)

70
140

##### Division

In [17]:
num3 = 20
num4 = 5

result_dividend = num3/num4
print(result_dividend)

#short hand 
result_dividend /= 2
print(result_dividend)
print(int(result_dividend))

4.0
2.0
2

##### Floor Division

In [18]:
num5 = 15
num6 = 7

result_floor = num5 // num6
print(result_floor)

2

##### Modulo

In [22]:
num1 = 11
num2 = 5
remainder = num1 % num2
print(remainder)

num3 = 10
num4 = 2
remainder2 = num3 % num4
print(remainder2)

if num3 % 2 == 0:
    print("even")

1
0
even

##### Exponential

In [23]:
square = 5 ** 2 
print(square)

#Shorthand
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [24]:
name = "Dyonne"
print(name)

Dyonne

##### print() <br>
<p>Don't forget about end=' '</p>

In [26]:
print("This is my first name:", name)
print("Full name: ", name, end=" Goode")

#Use to get additional information about a function
print

This is my first name: Dyonne
Full name:  Dyonne Goode

##### String Concatenation

In [27]:
first_name = "Dyonne"
last_name = "Goode"

full_name = first_name + " " + last_name
print(full_name)

full_name += " Boss with the Sauce"
print(full_name)

Dyonne Goode
Dyonne Goode Boss with the Sauce

##### Type Conversion

In [31]:
number = "32"
# int() -- change string or float to an integer
# float() -- change an integer or string into a float
# str() -- convert an integer or float to a string
print(type(number))
num_int = int(number)
print(type(num_int))
num_float = float(number)
print(type(num_float))

<class 'str'>
<class 'int'>
<class 'float'>

##### input()

In [33]:
#input will always return a string ALWAYS

name = input("What is your name?")
color = input("What is your favorite color?")
quest = input("What is your quest?")

print(name, color, quest)

# print("\n", name, "\n", color, "\n", quest)

age = int(input("What is your age?"))
add_age = age + 1 

print(add_age)
print(type(age))

What is your name?dyonne
What is your favorite color?green
What is your quest?get rich
dyonne green get rich
What is your age29
30
<class 'int'>

##### format()

In [35]:
age = input("What is your age?")
name = input("What is your name?")
result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

What is your age?29\
What is your name?dyonne
You are 29\ dyonne and you are getting wiser!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [36]:
color = input("What color is your car?")
year = input("What year is your car?")
make = input("What make is your car?")
model = input("What model is your car?")

car_results = "Your car is a {} {} {} {} , wow that's nice!".format(color, year, make, model)
print(car_results)
print("Your car is a {} {} {} {} , wow that's nice!".format(color, year, make, model))

What color is your car?gray
What year is your car?2017
What make is your car?toyota
What model is your car?camry
Your car is a gray 2017 toyota camry , wow that's nice!
Your car is a gray 2017 toyota camry , wow that's nice!

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num 2 = 10
if num2 == num1:
     print('Equal Values')
else:
    print('Not Equal')

if num2

##### 'is' keyword

In [ ]:
#

##### 'in' keyword

##### 'not in' keyword'

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [38]:
letter = input("What is your favorite  letter? ")

if 'p' in lower.(letter):
    print("Pew Pew Pew!")
else:
    print("That's a boring letter!")

What is your favorite  letter? p
Pew Pew Pew!

## Using 'and'/'or' with If Statements

In [ ]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

##### abs()

### Try and Except

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [77]:
for i in range(2, 101):
    cube = i ** 3
    while cube <= 1000:
        print("Cube of", i, "=", cube)  
        break

Cube of 2 = 8
Cube of 3 = 27
Cube of 4 = 64
Cube of 5 = 125
Cube of 6 = 216
Cube of 7 = 343
Cube of 8 = 512
Cube of 9 = 729
Cube of 10 = 1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [78]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for i in range(2,101):
    for x in range(2, i):
        if (i % x == 0):
            break
    else: 
        print (i, "is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [57]:
years_old = input("How many years old are you? ")
age = int(years_old)

if age <= 17:
    print('kids')
elif age >= 18 and age <= 65:
    print("adults")
else: 
    print("seniors")

How many years old are you? 71
seniors